.vscode/
fchk/

test/*
test/laye/*
!test/laye/
!test/laye/*.laye
!test/laye/deps/
!test/laye/deps/*.laye

examples/*
examples/raylib/*
!examples/raylib/
!examples/raylib/*.laye

out
test-out
nob
nob.old
*.ll

leak-*
crash-*
