.vscode/
fchk/

test/*
test/c/*
test/laye/*
!test/c/
!test/c/*.c
!test/c/*.h
!test/laye/
!test/laye/*.laye
!test/laye/deps/
!test/laye/deps/*.laye

examples/*
examples/raylib/*
!examples/raylib/
!examples/raylib/*.laye

a.out
out
test-out
nob
nob.old
nob.exe
nob.obj
nob.exe.old
build
*.ll

leak-*
crash-*
